ACTION!="remove", SUBSYSTEM=="misc", KERNEL=="fastrpc-adsp", GROUP="fastrpc", MODE="0660", ENV{IIO_SENSOR_PROXY_TYPE}="ssc-accel", ENV{ACCEL_MOUNT_MATRIX}="1, 0, 0; 0, 1, 0; 0, 0, 1", TAG+="systemd", ENV{SYSTEMD_WANTS}+="mi9t-hexagon-root.service mi9t-hexagon-sensors.service iio-sensor-proxy.service"
